.header{
    max-width: 880px;
    height: 75px;
    margin: 45px auto 40px;
    border-bottom: 1px solid #545454;
    width: calc(100% - 400px);
    box-sizing: border-box;
}

@media screen and (max-width: 1150px) {
    .header{
    width: calc(100% - 200px);
    }
}

@media screen and (max-width: 950px) {
    .header{
    width: 100%;
    }
}
